[submodule "testing-dependencies/mod_pagespeed"]
	path = testing-dependencies/mod_pagespeed
	url = git@github.com:maxyo/incubator-pagespeed-mod.git
[submodule "testing-dependencies/ngx_cache_purge"]
	path = testing-dependencies/ngx_cache_purge
	url = git@github.com:FRiCKLE/ngx_cache_purge.git
[submodule "testing-dependencies/nginx"]
	path = testing-dependencies/nginx
	url = git@github.com:nginx/nginx.git
[submodule "testing-dependencies/set-misc-nginx-module"]
	path = testing-dependencies/set-misc-nginx-module
	url = git@github.com:openresty/set-misc-nginx-module
[submodule "testing-dependencies/ngx_devel_kit"]
	path = testing-dependencies/ngx_devel_kit
	url = git@github.com:simpl/ngx_devel_kit
[submodule "testing-dependencies/headers-more-nginx-module"]
	path = testing-dependencies/headers-more-nginx-module
	url = git@github.com:openresty/headers-more-nginx-module
